.slide_wrap {
    position: relative;
    width: 55rem;
    margin: auto;
    padding-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding-top: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.9375rem 0.0625rem rgba(0, 0, 0, 0.4);
}


.slide_box {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

.slide_content {
    display: table;
    float: left;
    width: 55rem;
    height: 30.625rem;
}

#container{width: fit-content; }
/* #output{ position: relative;} */

#top {
    top: 50%;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
}

section#bener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    height: max-content;
    /*Image only BG fallback*/

    /*background = gradient + image pattern combo*/
    /* background:  */
    /* linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)) */
    /* linear-gradient(#4781be, rgba(196, 102, 0, 0.6)); */

    /* background-color: #4781be ;	#dc3545 #27AE60*/

    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    font-family: montserrat, arial, verdana;
    /* font-family: 'Jua', sans-serif; */
    /* color: white; */

}

/* span {
    font-size: 1.25rem;
} */

.big {
    font-size: 2.0625rem;
    font-weight: bold;
    color: white;
    /* line-height: 6.25rem; */
}

span.small {
    line-height: 1.5625rem;
    font-size: 1.3125rem;
    font-weight: 500;
    color: white;
}

.player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 24.875rem;
    width: 55rem;
    grid-gap: 0.1875rem;
    background-color: #44a8ed;
    padding: 0;
}

.numbering {
    font-weight: bold;
    font-size: 3.75rem;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    line-height: 8.75rem;

}

.playerimg {
    grid-column: 1/3;
    grid-row: 1/3;
}

.name {
    grid-column: 3/5;
    grid-row: 1/3;
    line-height: 6.25rem;
    font-size: 5rem;
    margin-top: 3.125rem;
    overflow: hidden;
}



.profile {
    grid-column: 1/6;
    grid-row: 3;
    display: flex;
    height: 100%;
    width: 55rem;
    background: #ccc;
    flex-direction: row;
    text-align: center;
    background-color: #4781be;
    padding-top: 0.625rem;
}

.output {
    height: 6.875rem;
    width: 11rem;
    /* background-color: greenyellow; */
    /* border: 0.0625rem solid #000; */
    /* margin: 0.1875rem; */
}

.bigbox {
    display: flex;
    flex-direction: row;
}

.smallbox{
    display: flex;
    flex-direction: row;
}

.inbox {
    display: flex;
    /* background-color: hotpink; */
    width: 11rem;
    /* border: 0.0625rem solid #000; */
    flex-direction: column;
}

.physical {
    height: 4.375rem;

}

.info {
    height: 2.5rem;
}

input[type=button] {
    width: 6.25rem;
    font-size: 1.25rem;
    background: #dc3545;
}

h1{
    font-weight: 900;

}

/* h2 {
    font-size: 2.1875rem;
    line-height: 0.625rem;
    font-weight: 900;
} */

/* p {
    line-height: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
} */


/* h1 {
    text-align: center;
} */

img {
    width: 18.75rem;
    margin-top: 4.875rem;
    display: table;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    object-fit: cover;
}



/* a {
    color: white;
    display: block;
    border-radius: 0.3125rem;
    text-align: center;
    text-decoration: none;
} */

/* ---------------------------------------------- */
/* .tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 0.0625rem;
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    overflow: hidden;
    padding: 1.875rem 0.3125rem;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 0.0625rem;
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    overflow: hidden;
    padding: 1.875rem 0.3125rem;
    word-break: normal;
}

.tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top
} */

.slide_btn_box>.slide_btn_prev {
    left: -6.25rem;
}

.slide_btn_box>.slide_btn_next {
    right: -6.25rem;
}

.slide_btn_box>button {
    /* position: absolute; */
    /* top: 50%; */
    /* margin-top: -2.8125rem; */
    justify-content: center;
    width: 6.25rem;
    background: #dc3545;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0.0625rem;
    cursor: pointer;
    padding: 0.625rem 0.3125rem;
    margin: 0.625rem 0.3125rem;
    /* width: 3.75rem; */
    /* height: 3.75rem; */
    /* font-size: 1rem; */
    /* color: #999; */
    /* background: greenyellow; */
    /* border: 0.0625rem solid #ddd; */
    /* border-radius: 0.1875rem; */
    cursor: pointer;
}

.slide_btn_box>button:hover,
.slide_btn_box>button:focus {
    box-shadow: 0 0 0 0.125rem white, 0 0 0 0.1875rem #dc3545;
}

.slide_btn_box {
    display: flex;
}

.justify-content-center {
    /* -ms-flex-pack: center!important; */
    justify-content: center !important;
}

.d-flex {
    /* display: -ms-flexbox!important; */
    display: flex !important;
}

#resumebutton {
    width: 9.375rem;
    height: 3.125rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
}

/* -------------------------------------------------- */
@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .slide_wrap {
        position: relative;
        width: 33rem;
        margin: auto;
        padding-bottom: 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        padding-top: 1.25rem;
        border-radius: 0.3125rem;
        box-shadow: 0 0 0.9375rem 0.0625rem rgba(0, 0, 0, 0.4);
    }
    
    .slide_box {
        width: 100%;
        margin: auto;
        overflow-x: hidden;
    }
    
    .slide_content {
        display: table;
        float: left;
        width: 33rem;
        height: 30.625rem;
    }
    img {
        width: 18.75rem;
        /* margin-top: 4.875rem; */
        /* display: table; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* overflow: hidden; */
        /* object-fit: cover; */
    }

    .player {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 37.5rem;
        width: 33rem;
        grid-gap: 0.1875rem;
        background-color: #44a8ed;
        padding: 0;
    }
    
    .numbering {
        font-weight: bold;
        font-size: 3.75rem;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        line-height: 8.75rem;
    
    }
    
    .playerimg {
        grid-column: 1/3;
        grid-row: 1/2;
        margin-bottom: -1rem;
    }
    
    .name {
        grid-column: 3/6;
        grid-row: 1/2;
        line-height: 6.25rem;
        font-size: 3rem;
        margin-top: 3.125rem;
        padding-left: 3rem;
        overflow: hidden;
    }
    
    
    
    .profile {
        grid-column: 1/6;
        grid-row: 2/4;
        display: flex;
        height: 100%;
        width: 33rem;
        background: #ccc;
        flex-direction: column;
        text-align: center;
        background-color: #4781be;
        padding-top: 0.625rem;
    }
    
    .output {
        height: 6.875rem;
        width: 11rem;
        /* background-color: greenyellow; */
        /* border: 0.0625rem solid #000; */
        /* margin: 0.1875rem; */
    }
    
    .bigbox {
        display: flex;
        flex-direction: row;
    }
    
    .smallbox{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: center;
    }

    .inbox {
        display: flex;
        /* background-color: hotpink; */
        width: 11rem;
        /* border: 0.0625rem solid #000; */
        flex-direction: column;
    }
    
}



@media screen and (min-width: 321px) {
    html {
        font-size: 10px;
        
    }
}   
@media screen and (min-width: 425px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 641px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}